html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin-bottom: 160px !important; /* Height of the footer */
  padding: 0;
}
